
body {
    background-color: black;
}

.css-intro-image{
    width: 100%;
}

.headline-unordered-list {
    color:plum
}

.list{
    color:blanchedalmond
}
/* Home-Page */

/* Info-Page */

/* Contact-Page */