
body {
    background-color: black;
}

.css-intro-image{
    width: 100%;
}

.headline-unordered-list {
    color:plum
}

.list{
    color:blanchedalmond
}

.css-intro-image {
    background-color: burlywood;
    padding: 16pt;
}

  

/* Home-Page */

/* Info-Page */

/* Contact-Page */